*,
*::before,
*::after {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: bisque;
  color: hsl(27, 89%, 17%);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 30px;
}

h2 {
  font-size: 30px;
  margin: 40px 0;
}

h1,
h2 {
  text-align: center;
}

p,
ul,
ol,
a {
  font-size: 20px;
}

p {
  margin: 0 50px;
}

.back-link {
  display: inline-block;
  margin-left: 10px;
  margin-top: 10px;
}

.ingredient-list {
  text-align: center;
  list-style: none;
}

.step-list {
  padding: 30px;
  margin: 0 50px;
}

.step-list li,
.ingredient-list li {
  margin-bottom: 10px;
}

.navbar {
  list-style: none;
  text-align: center;
}

.navbar li {
  display: inline;
  margin-right: 20px;
}

img {
  display: block;
  margin: 0 auto;
}


.lasagna-img {
  width: 683px;
  height: auto;
}

.curry-img {
  width: 750px;
  height: auto;
}

.tortillapizza-img {
  width: 738px;
  height: auto;
}